doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title SB Admin 2 - Login
        // Custom fonts for this template
        link(href='vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
        // Custom styles for this template
        link(href='css/sb-admin-2.min.css', rel='stylesheet')

        header.masthead
        i.nav-item
            a.nav-link(href='/main')
                    i.fas.fa-fw.fa-arrow-left.fa-2x Home

            .container.h-50
                .row.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-10.align-end

                        br
                        h1.text-uppercase.text-black.font-weight-bold About Us
                        hr.divider.my-4
                    .col-lg-8.align-self-baseline
                    p.h5.text-gray-900.mb-4  We are Undergraduates of Class 2024 of Sri Lanka Technological Campus. This talking Libro Audiobook Application was created for a project assigned in the subject of CCS212-Cloud Computing Fundamentals, which is one of the subjects in our 2nd Academic Year.
                    br
                    br
                    br
                    h2.text-text-black.font-weight-bold Meet the Team - Minigates
    body.bg-log-image
        .container
            // Outer Row
            .row.justify-content-center
                .col-xl-8.col-lg-12.col-md-9
                    .card.o-hidden.border-0.shadow-lg.my-1
                        .card-body.p-0
                            // Nested Row within Card Body
                            .row
                                .col-lg-4.d-none.d-lg-block.bg-lakmini-image
                                .col-lg-8
                                    .p-5
                                        .text-center
                                            h1.h4.text-gray-900.mb-4 Lakmini Anuruddhika
                                            h Data Science Undergraduate at Sri Lanka Technological Campus
                                        hr
                                        .text-center

                                            a.h Team Leader
                                            br
                                            a.small(href='https://www.linkedin.com/in/lakmini-thennakoon')
                                                i.fab.fa-linkedin.fa-2x  Lakmini Thennakoon
                                                pre
                                            i.fas.fa-envelope-open.fa-x  thennakoonlakmini9@gmail.com
                                            pre
                                            i.fas.fa-phone-alt.fa-x  +94710328801
    body.bg-log-image
        .container
            // Outer Row
            .row.justify-content-center
                .col-xl-8.col-lg-12.col-md-9
                    .card.o-hidden.border-0.shadow-lg.my-1
                        .card-body.p-0
                            // Nested Row within Card Body
                            .row
                                .col-lg-4.d-none.d-lg-block.bg-ramesha-image
                                .col-lg-8
                                    .p-5
                                        .text-center
                                            h1.h4.text-gray-900.mb-4 Ramesha Geethan
                                            h Cyber Security Undergraduate at Sri Lanka Technological Campus
                                        hr
                                        .text-center

                                            a.h Team Member
                                            br
                                            a.small(href='https://www.linkedin.com/in/ramesha-geethan-060a42151/')
                                                i.fab.fa-linkedin.fa-2x  Ramesha Geethan
                                                pre
                                            i.fas.fa-envelope-open.fa-x  rameshasi@sltc.ac.lk
                                            pre
                                            i.fas.fa-phone-alt.fa-x  +94714172911

    body.bg-log-image
        .container
            // Outer Row
            .row.justify-content-center
                .col-xl-8.col-lg-12.col-md-9
                    .card.o-hidden.border-0.shadow-lg.my-1
                        .card-body.p-0
                            // Nested Row within Card Body
                            .row
                                .col-lg-4.d-none.d-lg-block.bg-wazeem-image
                                .col-lg-8
                                    .p-5
                                        .text-center
                                            h1.h4.text-gray-900.mb-4 Wazeem khan
                                            h Cyber Security Undergraduate at Sri Lanka Technological Campus
                                        hr
                                        .text-center

                                            a.h Team Member
                                            br
                                            a.small(href='https://www.linkedin.com/in/wazeem-khan-9519031a7/')
                                                i.fab.fa-linkedin.fa-2x  Wazeem khan
                                                pre
                                            i.fas.fa-envelope-open.fa-x  Wazeemk@sltc.ac.lk
                                            pre
                                            i.fas.fa-phone-alt.fa-x  +94778862308
    body.bg-log-image
        .container
            // Outer Row
            .row.justify-content-center
                .col-xl-8.col-lg-12.col-md-9
                    .card.o-hidden.border-0.shadow-lg.my-1
                        .card-body.p-0
                            // Nested Row within Card Body
                            .row
                                .col-lg-4.d-none.d-lg-block.bg-daham-image
                                .col-lg-8
                                    .p-5
                                        .text-center
                                            h1.h4.text-gray-900.mb-4 Daham Kahawearachchi
                                            h Cloud Engineering Undergraduate at Sri Lanka Technological Campus
                                        hr
                                        .text-center

                                            a.h Team Member
                                            br
                                            a.small(href='https://www.linkedin.com/in/daham-kahawearachchi-4b0b86210/')
                                                i.fab.fa-linkedin.fa-2x  Daham Kahawearachchi
                                                pre
                                            i.fas.fa-envelope-open.fa-x  dahamka@sltc.ac.lk
                                            pre
                                            i.fas.fa-phone-alt.fa-x  +94712320990
    body.bg-log-image
        .container
            // Outer Row
            .row.justify-content-center
                .col-xl-8.col-lg-12.col-md-9
                    .card.o-hidden.border-0.shadow-lg.my-1
                        .card-body.p-0
                            // Nested Row within Card Body
                            .row
                                .col-lg-4.d-none.d-lg-block.bg-tharushi-image
                                .col-lg-8
                                    .p-5
                                        .text-center
                                            h1.h4.text-gray-900.mb-4 Tharushi De silva
                                            h Cyber Security Undergraduate at Sri Lanka Technological Campus
                                        hr
                                        .text-center

                                            a.h Team Member
                                            br
                                            a.small(href='https://www.linkedin.com/in/tharushi-de-silva-a8462922a/')
                                                i.fab.fa-linkedin.fa-2x  Tharushi De silva
                                                pre
                                            i.fas.fa-envelope-open.fa-x  tharushid@sltc.ac.lk
                                            pre
                                            i.fas.fa-phone-alt.fa-x  +94761750441




        // Bootstrap core JavaScript
        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
        // Core plugin JavaScript
        script(src='vendor/jquery-easing/jquery.easing.min.js')
        // Custom scripts for all pages
        script(src='js/sb-admin-2.min.js')