doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title SaaS Tutorial
        // Font Awesome Icons
        link(href='vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
        // Google Fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')
        // Plugin CSS
        link(href='vendor/magnific-popup/magnific-popup.css', rel='stylesheet')
        // Theme CSS - Includes Bootstrap
        link(href='css/creative.min.css', rel='stylesheet')
    body
        // Navigation
        nav#mainNav.navbar.navbar-expand-sm.bg-light.navbar-light
            .container

                // Divider
                h.sidebar-divider.my-0

                // Nav Item - Dashboard

                i.nav-item
                    a.nav-link(href='/SinhalaBooks')
                        i.fas.fa-fw.fa-book-reader.fa-2x
                        span  Sinhala Audio Books

                i.nav-item
                    a.nav-link(href='/EnglishBooks')
                        i.fas.fa-fw.fa-book-reader.fa-2x
                        span  English Audio Books
                i.nav-item
                    a.nav-link(href='/TamilBooks')
                        i.fas.fa-fw.fa-book-reader.fa-2x
                        span  Tamil Audio Books
                pre
                pre
                pre
                pre
                pre
                i.nav-item
                    a.nav-link(href='/Aboutus')
                        i.fas.fa-fw.fa-users.fa-2x
                        span  About us

                pre
                pre
                pre
                i.nav-item
                    a.nav-link(href='/logout')
                        span  Logout
                         i.fas.fa-fw.fa-headphones-alt.fa-2x


                // Sidebar Toggler (Sidebar)
                .text-center.d-none.d-md-inline
                    button#sidebarToggle.rounded-circle.border-0
        // Masthead
        header.masthead
            .container.h-50
                .row.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-10.align-end
                        br
                        h1.text-uppercase.text-white.font-weight-bold Talking Libro Audio Book
                        hr.divider.my-4
                    .col-lg-8.align-self-baseline
                        p.text-white-75.font-weight-light.mb-lg-1 Sit-Bck, Relax.  Kick off Your Shoes,  Put-Up Your Feet, & get Your Ear Buds in.  It’s Audiobook Time!
                        br
                        br
                        br
                        p.text-white-75.font-weight-light.mb-lg-1 1 Month Free with 10 Audio Books  Unlimited Time
                        br
                        br
                        br
                        br
                        br
                        br
                        i.nav-item
                        p
                        p
                            a.nav-link(href='/billing')
                                i.fas.fw.fa-headphones-alt.fa-2x  Subscribe


            ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion


        // Footer
        footer.bg-light.py-1
            .container
                .small.text-center.text-muted Copyright &copy; Talking Libro 2022
        // Bootstrap core JavaScript
        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
        // Plugin JavaScript
        script(src='vendor/jquery-easing/jquery.easing.min.js')
        script(src='vendor/magnific-popup/jquery.magnific-popup.min.js')
        // Custom scripts for this template
        script(src='js/creative.min.js')